.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
}

.dropdowns-container {
  display: flex;
  gap: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: white;
  color: #1b1b1b;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  min-width: 150px;
  text-align: left;
  position: relative;
}

.dropdown-button::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-image: url("/assets/images/tags/arrow_bottom.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  font-size: 16px;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 0;
}

.search-container {
  position: relative;
  margin-bottom: 8px;
}

.dropdown-search {
  width: 100%;
  padding: 8px;
  padding-right: 35px;
  font-size: 14px;
  border: 1px solid #c6c6c6;
  outline: none;
  color: #c6c6c6;
}

.search-icon {
  font-size: 16px;
  color: #c6c6c6;
}

.dropdown-search:focus {
  color: #c6c6c6;
}

.dropdown-search:focus + .search-icon {
  color: #1b1b1b;
}

.options-container {
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-content.show {
  display: block;
  z-index: 50;
}

.dropdown-option {
  color: black;
  padding: 12px 6px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #ffd15b;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.tag {
  background-color: #ffd15b;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 20px;
}

.close-tag {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0;
  line-height: 1;
}

.recipe-count {
  font-weight: bold;
  color: #333;
  padding: 0.5rem;
}

.tags-search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.dropdown-search {
  width: 100%;
  padding: 8px;
  padding-right: 35px; /* espace pour l’icône */
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #c6c6c6;
  outline: none;
  color: #7A7A7A;
  box-sizing: border-box;
}

.tags-search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #7A7A7A;
  width: 14px;
  height: 14px;
}