:root {
  --primary-color: #d04f4f;
  --secondary-color: #c7bebe;
  --light-grey: #e7e7e7;
  --dark-grey: #666666;
  --text-color: #1b1b1b;
  --recipeContainer-color: #ededed;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--text-color);
  background: var(--recipeContainer-color);
}
